<%- include('./layouts/top') %>
    <section id="content">
        <div id="contentbox">
            <br><br>
            <div class="sofaBox">
                <h1 class="content"> <b> Sofa<br>Collection</b></h1>
                <br>
                <button onclick="window.location.href='shop';" class="button"><b>SHOP NOW</b></button>
            </div>
            <img class="img1" width="500px" height="200px" src="./images/download.png" alt="">
        </div>

        <div id="contentbox1">
                <br><br>
                <div class="sofaBox">
                    <h1 class="content"> <b> Chair<br>Collection</b></h1>
                    <br>
                    <button  onclick="window.location.href='shop';" class="button"><b>SHOP NOW</b></button>
                </div>
                <img class="img1" width="500px" height="200px" src="./images/download (1).png" alt="">
        </div>

        <div id="contentbox2">
            <br><br>
            <div class="sofaBox">
                <h1 class="content"> <b>Lamp<br>Collection</b></h1>
                <br>
                <button  onclick="window.location.href='shop.html';" class="button"><b>SHOP NOW</b></button>
            </div>
            <img class="img1" width="500px" height="200px" src="./images/download (2).png" alt="">
    </div>
        <br><br><br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h3 class="fontGrey"><b>Best</b></h3><p class="fontStrong"><b>Furniture in Town</b></p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p class="fontGrey1">Since 1985, we've created extraordinary products.Our</p><p class="fontStrong1"><b>commitment
                    is to quality,</b></p><p class="fontGrey1">& we won't be satisfied until you are. Every product is</p><p class="fontStrong1"><b>crafted with love & care.</b></p>
                </div> 
            </div>
        </div>
        <br><br><br><br><br>
        <div><h1 id="newArrival" ><b>New Arrivals</b></h1></div>
        <br><br><br><br>
        <div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-12"><div class="salebox">
                    <img width="260px" height="360px" src="./images/birdlamp.jpg" alt="">
                </div></div>
				<div class="col-lg-3 col-md-6 col-sm-12"><div class="salebox">
                    <img id="imgPos" width="260px" height="200px" src="./images/moss bench.jpg" alt="">
                </div></div>
                <div class="col-lg-3 col-md-6 col-sm-12"><div class="salebox">
                    <img id="imgPos1" width="150px" height="300px" src="./images/sineta lamp.png" alt="">
                </div></div>
				<div class="col-lg-3 col-md-6 col-sm-12"><div class="salebox">
                    <img id="imgPos" width="260px" height="200px" src="./images/grono.jpg" alt="">
                </div></div>
                </div>
                <br>
                <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12"><p class="fontStrong2"><b>Bird Lamp<br><p class="fontGrey2">$320</p></b></p><button type="button" onclick="addtocart()" class="button1"><b>Add to Cart</b></button></div>
                <div class="col-lg-3 col-md-6 col-sm-12"><p class="fontStrong2"><b>Moss Bench<br><p class="fontGrey2">$500</p></b></p><button type="button" onclick="addtocart()" class="button1"><b>Add to Cart</b></button></div>
                <div class="col-lg-3 col-md-6 col-sm-12"><p class="fontStrong2"><b>Sineta Lamp<br><p class="fontGrey2">$930</p></b></p><button type="button" onclick="addtocart()" class="button1"><b>Add to Cart</b></button></div>
                <div class="col-lg-3 col-md-6 col-sm-12"><p class="fontStrong2"><b>Grono Lamp<br><p class="fontGrey2">$880</p></b></p><button type="button" onclick="addtocart()" class="button1"><b>Add to Cart</b></button></div>
                </div>
                </div>
    </section>
<%- include('./layouts/footer') %>