<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/products">Products</a>
        </li>
      <li class="breadcrumb-item active" aria-current="page"><%= product.name %></li>
    </ol>
  </nav>
<h1><%= product.name %></h1>
<p><%= product.review %></p>