<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/landingPage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="./javascripts/landingpage.js"></script>
    <title>LandingPage</title>
</head>
<body style="background-color: black;">
    <section id="header">
        <div class="navbar">
            <div id="logobox">
         <a id="logo" href=""><strong>g</strong></a>
        </div>
        <div>
            <ul id="list">  
                <li><a href="#footer"><img class="img" width="25px" height="25px" src="./images/icons8-search-50.png" alt=""></a></li>
                <li><a href="#newArrival"><img class="img" width="25px" height="25px" src="./images/icons8-shopping-bag-48.png" alt=""></a></li>
                <li><div id="LoginBox"><a id="Login" href="login">Login</a></div></li>
                <li><div id="barbox"><a href="newPage"><img src="./images/icons8-menu-bar-24.png" alt=""></a></div></li>
            </ul>
        </div>
        </div>
    </section>
    <br><br>
